package ${package}.dao;

import ${package}.entity.${className};
import com.zycz.common.dao.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
@Repository
public interface ${className}Dao extends BaseDao<${className}> {

}
